@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
@import './reset';

//components
@import './components/ui';
@import './components/header';
@import './components/modal-start';
@import './components/select';
@import './components/keyboard';
@import './components/tutor-modal';

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #55c5ff;
  color: #fff;
  height: 100vh;
}

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  position: relative;
  height: 100%;
}

.print__inner {
  padding-top: 90px;
}

.print__body {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 0 30px 45px;
  max-width: 990px;
  margin: 0 auto;
}

.print__item {
  display: flex;
}

.print__column {
  flex: 0 0 80%;
}

.print__text {
  color: #5c5c5c;
  font-size: 21px;
  margin-right: 45px;
  line-height: 32px;
  & .active {
    background-color: #5bc538;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    &.error {
      background-color: #f36747;
    }
  }

  .color-green {
    color: #5bc538;
  }
}

.print__info {
  flex: 0 0 20%;
}

.info__item {
  margin-bottom: 15px;
  padding-left: 30px;
}

.info__name {
  color: #b5bbc2;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 0;
}

.info__number {
  font-size: 32px;
  color: #67defd;
  font-weight: 700;
  & span:nth-child(2) {
    font-size: 12px;
  }
}

//completed page

.completed__inner{
  padding: 70px 0 200px;
}

.completed__body {
  display: flex;
}

.completed__column {
  flex: 0 0 45%;
  padding-left: 35px;

  &:first-child {
    flex: 0 0 55%;
    padding-right: 35px;
  }
}

.test__results {
  display: flex;
  margin-bottom: 45px;
}

.test__item {
  display: flex;
  align-items: flex-start;
  flex: 0 0 50%;
  padding-right: 25px;
}

.test__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.test__img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.test__name {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}

.test__result {
  color: #fff;
  font-weight: 500;
  font-size: 20px;

  & span {
    font-size: 36px;
  }
}

.certificate {
  position: relative;
  min-height: 360px;
  color: #576161;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 72px;
  user-select: none;
}

.certificate__img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.certificate__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 325px;
  margin: 0 auto 50px;
}

.certificate__level{
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 13px;
}

.reward__name{
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.user__name{
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
}

.certificate__text{
  line-height: 1.2;
  & span{
    font-size: 20px;
  }
}

.completed__title{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  line-height: 1.1;
  margin-bottom: 30px;
}


.completed__text{
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.6;
}


//trainer

.trainer__inner{
  padding: 32px 0;
}

.trainer__row{
  display: flex;
  align-items: center;
}

.trainer__column{
  flex: 0 0 50%;
  &:first-child{
    text-align: right;
    padding-right: 90px;
  }
}

.trainer__img{
  max-width: 100%;
}

.trainer__title{
  font-size: 48px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}

.trainer__text{
  line-height: 1.4;
  font-size: 18px;
  font-weight: 300;
  color: #bbe8ff;
  margin-bottom: 60px;
  max-width: 470px;
}


.learn__row{
  display: flex;
  border-radius: 6px;
  padding: 40px;
  background-color: #fff;
}

.learn__column{
  flex: 0 0 50%;
  padding-right: 60px;
  &:last-child{
    padding: 0 20px 0 40px;
  }
  &:first-child{
    padding: 0 40px 0 20px;
    border-right: 1px solid #ececec;
  }
}

.learn__title{
  color: #28a4e8;
  font-size: 26px;
  margin-bottom: 10px;
}

.learn__text{
  margin-bottom: 20px;
  line-height: 1.4;
  color: #5c5c5c;
}

.learn-link{
  font-size: 16px;
  color: #28a4e8;
  &:after{
    width: 100%;
    left: 0;
    background-color: #28a4e8;
  }
}


//learn
.learn__inner{
  background-color: #fff;
  margin-top: 15px;
  padding: 40px;
  border-radius: 6px;
  & .button-primary{
    margin: 0 auto;
  }
}

.learn__header{
  width: 80%;
  margin: 0 0 0 auto;
  padding-bottom: 20px;
}

.learn__title{
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 300;
  color: #5c5c5c;
}

.learn__subtitle{
  color: #000;
  font-size: 18px;
  line-height: 1.4;
}

.learn__body{
  margin-bottom: 25px;
}

.learn__section{
  display: flex;
  padding: 30px 0 20px 0;
  border-top: 1px solid #dcdcdc;
  &:last-child{
    border-bottom: 1px solid #dcdcdc;
  }
}

.learn__name{
  max-width: 170px;
  width: 100%;
  color: #000;
  font-size: 24px;
  line-height: 1.4;
}

.learn__item, .learn__text{
  font-size: 16px;
  font-weight: 300;
  color: #5c5c5c;
}

.learn__text{
  & p{
    margin: 10px 0;
  }
}

.learn__item{
  position: relative;
  margin-bottom: 10px;
  line-height: 1.3;
  &::before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #5c5c5c;
    position: absolute;
    left: -16px;
    top: 6px;
  }
}

.learn__list{
  padding-left: 50px;
}

.learn__position{
  max-width: 180px;
  width: 100%;
}

.learn__keys{
  max-width: 420px;
  width: 100%;
  margin: 0 auto;
}

.learn__keyboard{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.learn__img{
  width: 100%;
}


//tutor
.tutor__inner{
  padding: 35px 0;
}

.tutor__header{
  margin-bottom: 40px;
}

.tutor__input{
  position: relative;
  max-width: 1720px;
  margin: 0 100px;

}

.input{
  width: 100%;
  padding: 32px 300px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 32px;

}

.tutor__text{
  font-size: 32px;
  color: #4f4f4f;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 67%;
  letter-spacing: 2px;
  & span{
    position: relative;
    &.active{
      background-color: transparent;
      color: #4f4f4f;
      padding: 0;
      &::before{
        display: block;
      }
    }
    &.prev{
      color: #cedee5;
    }

    &::before{
      content: '';
      display: none;
      height: 40px;
      width: 1px;
      background-color: #4f4f4f;
      position: absolute;
      left: -1px;
      top: 50%;
      z-index: 2;
      transform: translateY(-50%);
      animation: flick 1s infinite;
    }
  }
}

@keyframes flick{
  0%{
    opacity: 1;
  }50%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}